.header {
  background-image: url("../../assets/home/shaking-hand.png");
  background-size: cover;
  color: white !important;
  padding-top: 75px;
  padding-bottom: 100px;
  margin-top: -60px;
  max-height: 75vh;
}

.page-title {
  margin-top: 25px;
  margin-bottom: 25px;
}

.subtitle {
  font-size: 18px;
}
