<div class="container section">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="section-title">ALSO INCLUDED</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex flex-row included-container">
      <span class="icon-container">
      <i class="fas fa-server icon"></i>
      </span>
      <span class="included-info">
        <p class="included-title">HOSTING</p>
        <p class="included-subtitle">1 year web hosting</p>
      </span>
    </div>
    <div class="col-md-6 d-flex flex-row included-container">
      <span class="icon-container">
      <i class="fas fa-signature icon"></i>
      </span>
      <span class="included-info">
        <p class="included-title">DOMAIN NAME</p>
        <p class="included-subtitle">Domain name for up to 1 year (extension available)</p>
      </span>
    </div>
    <div class="col-md-6 d-flex flex-row included-container">
      <span class="icon-container">
      <i class="fas fa-mobile-alt icon"></i>
      </span>
      <span class="included-info">
        <p class="included-title">RESPONSIVE</p>
        <p class="included-subtitle">All sites are optimized for desktops, laptops, tablets, and mobile devices</p>
      </span>
    </div>
    <div class="col-md-6 d-flex flex-row included-container">
      <span class="icon-container">
      <i class="fas fa-image icon"></i>
      </span>
      <span class="included-info">
        <p class="included-title">STOCK IMAGES</p>
        <p class="included-subtitle">5 stock image included (additional images)</p>
      </span>
    </div>
  </div>
</div>
