<div class="row">
  <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'">
    <img class="imac-frame" src="../../../../../assets/home/IMacFrame.png">
    <div id="pnav">
      <a></a>
    </div>
  </div>

  <div class="col-lg-4 text-center" [@simpleFadeAnimation2]="'in'">
    <img class="imac-frame" src="../../../../../assets/home/IMacFrame.png">
    <div id="amsite">
      <a></a>
    </div>
  </div>

  <div class="col-lg-4 text-center" [@simpleFadeAnimation3]="'in'">
    <img class="imac-frame" src="../../../../../assets/home/IMacFrame.png">
    <div id="ltssite">
      <a></a>
    </div>
  </div>
</div>
