<div class="row">
  <div class="col-lg-4 text-center">
    <img class="imac-frame" src="../../../../../assets/home/IMacFrame.png">
    <div id="pnav">
      <a></a>
    </div>
  </div>

  <div class="col-lg-4 text-center">
    <img class="imac-frame" src="../../../../../assets/home/IMacFrame.png">
    <div id="amsite">
      <a></a>
    </div>
  </div>

  <div class="col-lg-4 text-center">
    <img class="imac-frame" src="../../../../../assets/home/IMacFrame.png">
    <div id="ltssite">
      <a></a>
    </div>
  </div>
</div>
