<div class="container-fluid section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="section-title">WHY CHOOSE US</h1>
      </div>
    </div>
    <div class="row why-us-section d-flex justify-content-center" animateIn>
      <div class="text-center why-reason" [@simpleFadeAnimation1]="'in'">
        <i class="fas fa-award why-icon"></i>
        <p class="icon-title">QUALITY PRODUCTS</p>

      </div>
      <div class="text-center why-reason" [@simpleFadeAnimation2]="'in'">
        <i class="fas fa-desktop why-icon"></i>
        <p class="icon-title">NEWEST TECHNOLOGY</p>
      </div>
      <div class="text-center why-reason" [@simpleFadeAnimation3]="'in'">
        <i class="fas fa-shipping-fast why-icon"></i>
        <p class="icon-title">FAST TURN-AROUND TIME</p>
      </div>
      <div class="text-center why-reason" [@simpleFadeAnimation4]="'in'">
        <i class="fas fa-cog why-icon"></i>
        <p class="icon-title">CUSTOMER CONTROL</p>
      </div>
      <div class="text-center why-reason" [@simpleFadeAnimation5]="'in'">
        <i class="fas fa-dollar-sign why-icon"></i>
        <p class="icon-title">COMPETITIVE PRICES</p>
      </div>
    </div>
  </div>
</div>
