<div class="container-fluid">
  <div class="row technology" animateIn>
    <div class="col text-center">
      <img class="tech-icon" src="../../../../../assets/home/angular.png">
    </div>
    <div class="col text-center">
      <img class="tech-icon" src="../../../../../assets/home/wordpress2.png">
    </div>
    <div class="col text-center">
      <img class="tech-icon" src="../../../../../assets/home/sketch.png">
    </div>
    <div class="col text-center">
      <img class="tech-icon" src="../../../../../assets/home/adobe.png">
    </div>
    <div class="col text-center">
      <img class="tech-icon" src="../../../../../assets/home/shopify.png">
    </div>
  </div>
</div>
