@import "../../../../../variables";

.tech-icon {
  max-height: 50px;
}

.container-fluid {
  background-color: $alt;
}

.technology {
  padding: 50px 0;
}

@media (max-width: 767px) {
  .technology {
    flex-direction: column;
  }

  .col {
    margin-bottom: 35px;
  }

}
