<div class="container-fluid section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title">SERVICES</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row"
        animateIn>
      <div class="col-lg-3">
        <div class="card text-center d-flex justify-content-center align-items-center"
             [@simpleFadeAnimation1]="'in'">
          <img class="card-img" src="../../../../../assets/home/icons/Group-1.png">
          <div class="card-body">
            <h5 class="icon-title">WEB DEVELOPMENT</h5>
            <p class="card-text">Development for single webpages, full websites, and online stores</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center d-flex justify-content-center align-items-center" [@simpleFadeAnimation2]="'in'">
          <img class="card-img" src="../../../../../assets/home/icons/Group-3.png">
          <div class="card-body">
            <h5 class="icon-title">APPLICATION DESIGN</h5>
              <p class="card-text">Create the look & feel of your application prior to development</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center d-flex justify-content-center align-items-center" [@simpleFadeAnimation3]="'in'">
          <img class="card-img" src="../../../../../assets/home/icons/Group.png">
          <div class="card-body">
            <h5 class="icon-title">GRAPHIC DESIGN</h5>
            <p class="card-text">Perfect for event flyers, album artwork, and all your other graphic needs</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card text-center d-flex justify-content-center align-items-center" [@simpleFadeAnimation4]="'in'">
          <img class="card-img" src="../../../../../assets/home/icons/Group-2.png">
          <div class="card-body">
            <h5 class="icon-title">BRANDING</h5>
            <p class="card-text">Legitimize your brand with logos, business cards, stationary, and more</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <div class="btn btn-matech">LEARN MORE</div>
      </div>
    </div>
  </div>
</div>
