<div class="row">
  <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'" >
    <app-website-preview [site]="'../../../../../assets/templates/template3.jpg'">
    </app-website-preview>
  </div>

  <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'" >
    <app-website-preview [site]="'../../../../../assets/templates/template7.jpg'">
    </app-website-preview>
  </div>

  <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'" >
    <app-website-preview [site]="'../../../../../assets/templates/template12.jpg'">
    </app-website-preview>
  </div>

</div>
