.header {
  // background-image: url("../../../../assets/background/design.png");
  background-size: cover;
  color: white !important;
  padding-top: 75px;
  padding-bottom: 100px;
  margin-top: -60px;
}

.page-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.8em;
}

.subtitle {
  font-size: 20px;
  padding: 0 50px;
}


@media (min-width: 1199.98px) {
  .header {
    max-height: 75vh;
  }
}
