<div class="container-fluid section">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1 class="section-title">WORK</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12 text-center">
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" (click)="onTabClick('websites')" data-toggle="pill" href="#">WEBSITES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onTabClick('graphic-design')" data-toggle="pill" href="#">GRAPHIC DESIGN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onTabClick('branding')" data-toggle="pill" href="#">BRANDING</a>
          </li>
        </ul>
      </div>
    </div>
    <app-websites *ngIf="activeTab === 'websites'"></app-websites>
    <app-graphic-design *ngIf="activeTab === 'graphic-design'"></app-graphic-design>
    <app-branding *ngIf="activeTab === 'branding'"></app-branding>
  </div>
</div>
