@import "../../../../../variables";

.nav {
  margin-bottom: 50px;
}

.nav-item {
  a {
    color: $primary;
  }

  .nav-link {
    border-radius: 0;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent;
  border-bottom: 2px solid $primary;
  color: white;
}


