<app-page-header [title]="'PRICING'" [subtitle]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'" [backgroundPath]="'../../../../assets/background/shaking-hand.png'">
  <div class="row text-center">
    <div class="col-lg-12 text-center">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': activeTab === 'websites'}" (click)="onTabClick('websites')" data-toggle="pill">WEB DEVELOPMENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'ecommerce'}"  (click)="onTabClick('ecommerce')" data-toggle="pill" href="#">E-COMMERCE DEVELOPMENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'design'}"  (click)="onTabClick('design')" data-toggle="pill" href="#">GRAPHIC DESIGN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'branding'}"  (click)="onTabClick('branding')" data-toggle="pill" href="#">BRANDING</a>
        </li>
      </ul>
    </div>
  </div>
</app-page-header>
<div class="container pricing-cards">
  <div class="row d-flex justify-content-center" animateIn *ngIf="activeTab === 'websites'">
    <app-pricing-card [pricingInfo]="webPricing" [class]="'web'"></app-pricing-card>
  </div>
  <div class="row d-flex justify-content-center" animateIn *ngIf="activeTab === 'ecommerce'">
    <app-pricing-card [pricingInfo]="eCommercePricing" [class]="'ecommerce'"></app-pricing-card>
  </div>
  <div class="row d-flex justify-content-center" animateIn *ngIf="activeTab === 'design'">
    <app-pricing-card [pricingInfo]="designPricing" [class]="'design'"></app-pricing-card>
  </div>
  <div class="row d-flex justify-content-center" animateIn *ngIf="activeTab === 'branding'">
    <app-pricing-card [pricingInfo]="brandingPricing" [class]="'branding'"></app-pricing-card>
  </div>

  <div class="row" *ngIf="activeTab === 'websites'">
    <div class="col-12 text-center">
      <p class="footer-text">*All web packages include a domain name, one year web hosting, and feature a responsive design (Web, Tablet, & Mobile View)</p>
    </div>
  </div>
</div>
<app-pricing-includes></app-pricing-includes>
