<div class="row">
  <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'">
    <app-website-preview [site]="'../../../../../assets/home/vanitysite.png'" [link]="'http://vanityvaultatl.com'">
    </app-website-preview>
  </div>

  <div class="col-lg-4 text-center" [@simpleFadeAnimation2]="'in'">
    <app-website-preview [site]="'../../../../../assets/home/aaliyahmonisite.png'" [link]="'http://aaliyahmoni.com'">
    </app-website-preview>
  </div>

  <div class="col-lg-4 text-center" [@simpleFadeAnimation3]="'in'">
    <app-website-preview [site]="'../../../../../assets/home/ltssite.png'">
    </app-website-preview>
  </div>
</div>
