<div class="container-fluid section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="section-title">
          THE PROCESS
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="fas fa-brain why-icon"></i>
        <h5>STEP 1</h5>
        <p class="step-info">We will first learn your websites needs as well as the desired look & feel</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-paper-plane why-icon"></i>
        <h5>STEP 2</h5>
        <p class="step-info">Our team will follow up by sending 5-10 templates that reflect your desired website</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-laptop-code why-icon"></i>
        <h5>STEP 3</h5>
        <p class="step-info">After deciding on a template, our team will take it from here and produce your site</p>
      </div>
    </div>
  </div>
</div>
