<div class="row">
  <div class="col-md-4 text-center d-flex justify-content-center">
    <div class="gd-img-wrapper">
      <img class="gd-img" src="../../../../../assets/home/VanitySummer.png">
    </div>
  </div>

  <div class="col-md-4 text-center d-flex justify-content-center">
    <div class="gd-img-wrapper">
      <img class="gd-img" src="../../../../../assets/home/sparklelashflyer.png">
    </div>
  </div>
  <div class="col-md-4 text-center d-flex justify-content-center">
    <div class="gd-img-wrapper">
      <img class="gd-img" src="../../../../../assets/home/on-me-ac.JPG">
    </div>
  </div>
  <div class="col-md-4 text-center d-flex justify-content-center">
    <div class="gd-img-wrapper">
      <img class="gd-img" src="../../../../../assets/home/lvs-flyer.png">
    </div>
  </div>
  <div class="col-md-4 text-center d-flex justify-content-center">
    <div class="gd-img-wrapper">
      <img class="gd-img" src="../../../../../assets/home/lash-manual.png">
    </div>
  </div>
</div>
