@import "../../../../../variables";


.card {
  border-radius: 0;
  border-width: 0 0 5px 0;
  border-color: $primary;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-body {
  background-color: $alt;
  color: $primary;
}

.list-group {
  margin-bottom: 10px;
}

.list-group-item {
  background-color: transparent;
  color: $primary;
  font-size: 18px;
}

.card-header {
  font-size: 16px;
  color: $primary;
  background-color: $alt;
  border-bottom: 0px solid $secondary;
  border-radius: 0;
}

.card-title {
  color: $primary;
}

h3 {
  color: $primary
}
