<app-page-header [title]="'TEMPLATES'" [subtitle]="'With rights to over 500+ design templates, templates are the most cost efficient & practical option for our customers looking to get a complete website. No matter the business, brand, or person we have template options for your site. Scroll to see examples of templates and how they work.'" [backgroundPath]="'../../../../assets/background/templates.png'">
  <div class="row text-center">
    <div class="col-lg-12 text-center">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'landing-page'}" (click)="onTabClick('landing-page')" data-toggle="pill">LANDING PAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'business'}" (click)="onTabClick('business')" data-toggle="pill" href="#">BUSINESS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'restaurant'}"  (click)="onTabClick('restaurant')" data-toggle="pill" href="#">RESTAURANT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'e-commerce'}" (click)="onTabClick('e-commerce')" data-toggle="pill" href="#">E-COMMERCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'portfolio'}" (click)="onTabClick('portfolio')" data-toggle="pill" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': activeTab === 'beauty'}" (click)="onTabClick('beauty')" data-toggle="pill" href="#">BEAUTY</a>
        </li>
      </ul>
    </div>
  </div>
</app-page-header>
<div class="container-fluid">
  <div class="row templates" *ngIf="activeTab === 'landing-page'">
    <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template1.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation2]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template2.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation3]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template3.jpg'">
      </app-website-preview>
    </div>
  </div>

  <div class="row templates" *ngIf="activeTab === 'restaurant'">
    <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template4.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation2]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template5.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation3]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template6.jpg'">
      </app-website-preview>
    </div>
  </div>

  <div class="row templates" *ngIf="activeTab === 'business'">
    <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template7.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation2]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template8.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation3]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template9.jpg'">
      </app-website-preview>
    </div>
  </div>

  <div class="row templates" *ngIf="activeTab === 'portfolio'">
    <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template10.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation2]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template11.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation3]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template12.jpg'">
      </app-website-preview>
    </div>
  </div>

  <div class="row templates" *ngIf="activeTab === 'e-commerce'">
    <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template13.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation2]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template14.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation3]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template15.jpg'">
      </app-website-preview>
    </div>
  </div>

  <div class="row templates" *ngIf="activeTab === 'beauty'">
    <div class="col-lg-4 text-center" [@simpleFadeAnimation1]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template16.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation2]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template17.jpg'">
      </app-website-preview>
    </div>

    <div class="col-lg-4 text-center" [@simpleFadeAnimation3]="'in'">
      <app-website-preview [site]="'../../../../assets/templates/template18.jpg'">
      </app-website-preview>
    </div>
  </div>
</div>
<app-template-steps></app-template-steps>
<app-frequently-asked-questions [type]="'templates'"></app-frequently-asked-questions>

